= image_tag '/images/overview_navigation_bus.png', :usemap => '#overview_navigation', :id => 'pinto-overview-navigation'

%map{:name => 'overview_navigation'}
  - overview_navigation.each do |navi|
    %area{:shape => 'rect', :coords => navi[:coords], :href => navi[:href], :title => navi[:title], :alt => navi[:title]}
